<div class="panel panel-default">
            <div class="panel-heading">
                <div class="box-header with-border">
                  <h3 class="box-title" >Copia de Seguridad...</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div>
            </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <!--Contenido-->
                          <table class="table table-hover" id="tblSucursal" width="70%">
                            <tr>                      
                              <th>Estado Actual:</th>
                              <td>Su información se encuentra respaldada diariamente de forma automática por el servicio de sincronización Cloud-Nube.</td>
                            </tr>
                            <tr>                      
                              <th>Base de Datos:</th>
                              <td>Backup automático incluido.</td>
                            </tr>
                            <tr>                      
                              <th>Ultimo Respaldo:</th>
                              <td><script type="text/JavaScript"> var f = new Date(); document.write(f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear()); </script></td>

                            </tr>
                            
                            
                          </table>   

                       </div>

                        <!--Fin-Contenido-->
                      </div>

                    </div><!-- /.row -->

                </div><!-- /.box-body -->

              </div><!-- /.box -->
              

              <div align="center">

              <img src="img/ok.jpg" height="200" width="200"> 
              </div>
     <script type="text/javascript">
    
    $('#liSeguridad').addClass("treeview active");
    $('#liCopiaSeguridad').addClass("active");

</script>
    